<footer class="footer footnote">
  <p>
    Os produtos da Imersys contêm copyright e licenças proprietárias individuais. Por favor entre em contato conosco para certificar das condições antes de utilizar qualquer produto.
  </p>
  <p>Achou algum erro ou sugestão da documentação? <br><br> <a href="<%- website_github_edit_url(item.path) %>" class="github-file-link" target="_blank" rel="external">Faça uma sugestão de edição no GitHub</a></p>
</footer>
